# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MyPy, Pyre, Pytype
.mypy_cache/
.pyre/
.pytype/

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Backup files
*~
